{% if page.meta.description %}
<p><em>{{ page.meta.description }}</em></p>
{% endif %}

<table>
<tr><td>Categoria</td><td>
  <strong>{{ page.meta.ed_category }}</strong>
</td></tr>
<tr><td>Caratteristiche</td>
<td>
    {% for tag in tags %}
    {% if tag.url %}
    <a href="{{ tag.url | url }}" class="md-tag{{ icon }}">
        {{- tag.name -}}
      </a>
    {% else %}
      <span class="md-tag{{ icon }}">
        {{- tag.name -}}
      </span>
    {% endif %}
  {% endfor %}
  <br>
  {% if page.meta.ed_players %}
  Giocatori: {{ page.meta.ed_players }}
  {% endif %}
  {% if page.meta.ed_age %}
| Età: {{ page.meta.ed_age }}
  {% endif %}
  {% if page.meta.ed_duration %}
| Durata: {{ page.meta.ed_duration }} minuti
  {% endif %}
</td></tr>

<tr><td>Competenze</td>
    <td>
    {% for skill in page.meta.ed_skills %}

    {% if skill == "sk_logic" %}
    <span class="md-tag">🧠 mentale / intellettuale / logico</span><br>
    {% elif skill == "sk_imagination" %}
    <span class="md-tag">💡 ideazione / pensiero laterale</span><br>
    {% elif skill == "sk_memory" %}
    <span class="md-tag">📜 memoria e gestione del passato</span><br>
    {% elif skill == "sk_maths" %}
    <span class="md-tag">🔢 matematica</span><br>
    {% elif skill == "sk_emotions" %}
    <span class="md-tag">🧡 emotivo / empatia / sentimenti</span><br>
    {% elif skill == "sk_communication" %}
    <span class="md-tag">🗣 parole e comunicazione</span><br>
    {% elif skill == "sk_problemsolving" %}
    <span class="md-tag">💭 immaginazione / astrazione</span><br>
    {% elif skill == "sk_movement" %}
    <span class="md-tag">💪 motorio / destrezza</span><br>
    {% elif skill == "sk_perception" %}
    <span class="md-tag">👀 percezione / visione</span><br>
    {% elif skill == "sk_build" %}
    <span class="md-tag">🛠 progettazione e costruzione</span><br>
    {% elif skill == "sk_random" %}
    <span class="md-tag">🎲 probabilità</span><br>
    {% else %}
    <span class="md-tag">{{skill}}</span>
    {% endif %}
    {% endfor %}
    </td>
</tr>

<tr><td><strong>Valutazione</strong></td>
    <td>
      {% if page.meta.ed_preferred %}🏆 NOSTRO PREFERITO!<br>{% endif %}
    </td>
</tr>
{% if page.meta.ed_rank_edu %}
<tr><td>🎓 Educatore</td><td>{{ page.meta.ed_rank_edu}}</td></tr>
{% endif %}
{% if page.meta.ed_rank_dad %}
<tr><td>🧑‍🧒 Genitore</td><td>{{ page.meta.ed_rank_dad}}</td></tr>
{% endif %}
{% if page.meta.ed_rank_kid %}
<tr><td>🧒🏻 Kids</td><td>{{ page.meta.ed_rank_kid}}</td></tr>
{% endif %}
{% if page.meta.ed_rank_dev %}
<tr><td>🧑🏽‍💻 Developer</td><td>{{ page.meta.ed_rank_dev}}</td></tr>
{% endif %}
{% if page.meta.ed_gameplay_complex %}
<tr><td>Complessità</td><td>{{ page.meta.ed_gameplay_complex}} / 5</td></tr>
{% endif %}
{% if page.meta.ed_gameplay_strategy %}
<tr><td>Strategia</td><td>{{ page.meta.ed_gameplay_strategy}} / 5</td></tr>
{% endif %}
{% if page.meta.ed_gameplay_luck %}
<tr><td>Fortuna</td><td>{{ page.meta.ed_gameplay_luck}} / 5</td></tr>
{% endif %}
{% if page.meta.ed_gameplay_interaction %}
<tr><td>Interazione</td><td>{{ page.meta.ed_gameplay_interaction}} / 5</td></tr>
{% endif %}

<tr><td>Dettagli</td>
    <td>
    {% if page.meta.ed_publisher %}
      {% if page.meta.ed_publisher_url %}
        Pubblicato da <a href="{{ page.meta.ed_publisher_url}}">{{ page.meta.ed_publisher }}</a>
      {% else %}
        Pubblicato da {{ page.meta.ed_publisher }}
      {% endif %}
    {% endif %}
    {% if page.meta.ed_year %}
        -  {{ page.meta.ed_year }}
    {% endif %}
    {% if page.meta.ed_url_details %}
    <br><a href="{{ page.meta.ed_url_details }}">ℹ️ Scheda dettaglio (BGG)</a>
    {% endif %}
    {% if page.meta.ed_url_play %}
    <br><a href="{{ page.meta.ed_url_play }}">▶️ Gioca online</a>
    {% endif %}
    </td>
</tr>
</table>
