
{% if page.meta.summary %}
<p>{{ page.meta.summary }}</p>
{% endif %}
<table>
<tr><td>Categoria</td><td>
    <span class="md-tag">{{ page.meta.played_category }}</span>
    {% for tag in tags %}
    {% if tag.url %}
    <a href="{{ tag.url | url }}" class="md-tag{{ icon }}">
        {{- tag.name -}}
      </a>
    {% else %}
      <span class="md-tag{{ icon }}">
        {{- tag.name -}}
      </span>
    {% endif %}
  {% endfor %}
</td></tr>
<tr><td>Voto</td>
    <td>
     {% if page.meta.played_preferred %}
        🏆 NOSTRO PREFERITO!<br>
     {% endif %}
     Voto Educatore 🎓: {{ page.meta.played_rank_edu }}<br>
     Voto Developer: {{ page.meta.played_rank_dev }}<br>
     Voto Kids: {{ page.meta.played_rank_kid }}
    </td>
</tr>
<tr><td>Competenze</td>
    <td>
    {% for skill in page.meta.played_skills %}

    {% if skill == "sk_logic" %}
    <span class="md-tag">🧠 mentale / intellettuale / logico</span><br>
    {% elif skill == "sk_imagination" %}
        💭 ideazione / pensiero laterale<br>
    {% elif skill == "sk_memory" %}
        📜 memoria e gestione del passato<br>
    {% elif skill == "sk_maths" %}
        🔢 matematica<br>
    {% elif skill == "sk_emotions" %}
        🧡 emotivo / empatia / sentimenti<br>
    {% elif skill == "sk_communication" %}
        🗣 parole e comunicazione<br>
    {% elif skill == "sk_problemsolving" %}
        💡 immaginazione / astrazione<br>
    {% elif skill == "sk_movement" %}
        💪 motorio / destrezza<br>
    {% elif skill == "sk_perception" %}
        👀 percezione / visione<br>
    {% elif skill == "sk_build" %}
        🛠 progettazione e costruzione<br>
    {% elif skill == "sk_random" %}
        - 🎲 probabilità<br>
    {% else %}
        - {{skill}}
    {% endif %}

    {% endfor %}
    </td>
</tr>
<tr><td>Dettagli</td>
    <td>
        {% if page.meta.played_players %}
        Giocatori: {{ page.meta.played_players }}<br>
        {% endif %}
        {% if page.meta.played_age %}
        Età: {{ page.meta.played_age }}<br>
        {% endif %}
        {% if page.meta.played_duration %}
        Durata: {{ page.meta.played_duration }}<br>
        {% endif %}
        <br>
    Complessità: {{ page.meta.played_gameplay_complex }}<br>
    Strategia: {{ page.meta.played_gameplay_strategy  }}<br>
    Fortuna: {{ page.meta.played_gameplay_luck }}<br>
    Interazione: {{ page.meta.played_gameplay_interaction }}<br>
    </td>
</tr>
<tr><td>Extra</td>
    <td>
    {% if page.meta.played_url_play %}
        Pubblicato da {{ page.meta.played_publisher }}
    {% endif %}
    {% if page.meta.played_year %}
        - Anno {{ page.meta.played_year }}
    {% endif %}
    {% if page.meta.played_url_details %}
        - <a href="{{ page.meta.played_url_details }}">Scheda dettaglio</a>
    {% endif %}
    {% if page.meta.played_url_play %}
        - <a href="{{ page.meta.played_url_play }}">Gioca online</a>
    {% endif %}
    </td>
</tr>
</table>
