hr {
    height: 6px;
    background-color: #FF9400 ;
    border-radius: 5px;
}

.md-typeset .grid {
    grid-gap: .4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    margin: 1em 0;
}
.md-typeset .grid.cards > :is(ul, ol) {
    display: contents;
}
.md-typeset .grid.cards > :is(ul, ol) > li, .md-typeset .grid > .card {
    border: .05rem solid var(--md-default-fg-color--lightest);
    border-radius: .1rem;
    display: block;
    margin: 0;
    padding: .8rem;
    transition: border .25s,box-shadow .25s;
}
.md-typeset .grid.cards > :is(ul, ol) > li > :first-child, .md-typeset .grid > .card > :first-child {
    margin-top: 0;
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #007C77;
}
[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #007C77;
}

[data-md-color-scheme="default"] .md-typeset h1 {
    font-weight: 600 !important;
    color: #007C77 !important;
}

[data-md-color-scheme="slate"] .md-typeset h1 {
    font-weight: 600 !important;
    color: #3c86b4 !important;
}

[data-md-color-scheme="default"] .md-typeset h2 {
    font-weight: 00 !important;
    color: #007C77 !important;
}

[data-md-color-scheme="slate"] .md-typeset h2 {
    font-weight: 400 !important;
    color: #3c86b4 !important;
}